:root {
  --cor-secundaria: rgb(9, 48, 56);
  --cor-meio: #1B3B84;
  --cor-botao: #CCD3CB;
  --bg: HTML/imgDesing sem nome
}


body {
  background: linear-gradient(45deg, #a7cfdf 0%, #23538a 100%);
}

.background-img {
  background-image: url(cronometro.svg);
  
}

.container {
  background-color: var(--cor-meio);
 
}

.botao {
  background: var(--cor-botao);
  
}

.bg-box {
  background: var(--cor-botao);
}

h3 {
  font-size: 2.8rem;
  text-align: center;
}

.tempos {
  font-size: 2.2rem;
  text-align: center;
}

