@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    box-sizing: border-box;
     outline: 0; 
    margin: 0;
    padding: 0;
    /*outline: 1px solid red !important; */

}


body {
    background-size: cover;
    background-position: center center;
    font-family: OCR A Std, monospace;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 70rem;
    margin-bottom: 5rem;
    margin-top: auto;
    border: solid black;
    border-radius: 20px;
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0);

}

html {
    font-size: 62.5%;
}

.background-img {
    display: flex;
    flex-flow: column nowrap;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.option {
    color: black;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 3rem;
}

.botao {
    border-radius: 5%;
    border: 0.1rem solid;
    padding: 1.3rem;
    color: black;
}

.opcoes .botao {
    padding: 0;
    width: 11rem;
    height: 5.5rem;
    margin: 1rem;
}

.retangulo {
    background: #fff;
    margin-bottom: 2rem;
}

.botao:hover {
    transform: scale(1.09);
}

.botao:active {
    background: #fff;
}

.input-tempo {
    border: none;
    background: #fff;
    height: 100px;
    width: 130px;
    text-align: center;
    font-size: 9rem;
}

.data {
    font-size: 3rem;
    text-align: center;
}

.footer-box {
    background: black;
    font-size: 1.8rem;
    height: 2.5rem;
    text-align: center;
}

.footer-box .temp {
    margin-top: 23.4rem;
}

.tempo {
    text-align: center;
    font-size: 8.3rem;
    padding: 2rem;
}

.espaco-botao {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.bg-box {
    border-radius: 5%;
    border: 0.1rem solid;
    padding: 1.3rem;
    color: black;
}

ul {
    list-style: none;
}

.paused {
    color: red;
}



@media (max-width: 750px) {
    .container {
        width: 40rem;
    }

    .input-tempo {
        height: 6rem;
        width: 6.6rem;
        text-align:center;
        justify-content: space-between;
        font-size: 6rem;
    }

    .tempo {
        text-align: center;
        font-size: 5rem;
        width: 100%;
    }

}