@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    background-position: center center;
    font-family: OCR A Std, monospace;
  }

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center; 
    margin: 0 auto ;
    max-width: 70rem;
    margin-bottom: 5rem;
    margin-top: 3rem;
    border: solid black;
    border-radius: 20px;
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0);
  
  }

html {
    font-size: 62.5%;
}

.background-img {
    min-height: 100vh;
    min-width: 100vh;
    justify-content: center;
}

.bt-temp {
    background: #88959F;
    border-radius: 5%;
    border: 0.1rem solid;
    padding: 1.3rem;
    color: black;
}

.option {
    color: black;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 3rem;
}
.botao {
    border-radius: 5%;
    border: 0.1rem solid;
    padding: 1.3rem;
    color: black;
  }

.opcoes .botao {
    padding: 0;
    width: 11rem;
    height: 5.5rem;
    margin: 1rem;
}

.retangulo {
    background: #fff;
    margin-bottom: 2rem;
}

.botao:hover {
    transform: scale(1.09);
}

.botao:active {
    background: #fff;
}

.input-tempo {
    border: none;
    background: #fff;
    height: 100px;
    width: 130px;
    text-align: center;
    font-size: 9rem;
}

.data {
    font-size: 3rem;
    text-align: center;
}

.footer-box {
    background: black;
    font-size: 1.8rem;
    height: 5rem;
    text-align: center;
}

.footer-box .temp {
    margin-top: 23.4rem;
}

.tempo {
    text-align: center;
    font-size: 8.3rem;
    padding: 2rem;
}

.espaco-botao-temp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
}

.bg-box {
    border-radius: 5%;
    border: 0.1rem solid;
    padding: 1.3rem;
    color: black;
  }
  