@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
 --cor-secundaria: rgb(9, 48, 56);
 --cor-meio : #5c1c91;
 --cor-botao : #9E5FC1;
 --bg: HTML/imgDesing sem nome
}


body {
  background: linear-gradient(45deg, #5c1c91 0%, #9E5FC1 100%);
}

.background-img {
  background-image: url(relogio.svg);
}

.container {
  background-color: var(--cor-meio);
}

.botao {
  background: var(--cor-botao);

}

.bg-box {
  background: var(--cor-botao);
}









