@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
 --cor-secundaria: rgb(9, 48, 56);
 --cor-botao : #F5A94E;
 --cor-temporizador: #F5D671 ;
 --bg: HTML/imgDesing sem nome
}

body {
  background: linear-gradient(45deg, #eefb7a 0%, #ffa304 100%);
  
}

.background-img {
  background-image: url(temporizador.svg);
}

.container {
  background-color: var(--cor-temporizador);
}


.botao {
  background: var(--cor-botao);
}

.bg-box {
  background: var(--cor-botao);
}











